
p {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

li {
  list-style: none;
}

.container {
  padding: 10px;
  background-color: gold;
  display: flex;
  gap:10px;
}


div {
  display: inline-block;
  background-color: blueviolet;
}

.one {
  width: 25%;
}

.two {
  width: 25%;
}

.three {
  width: 40%;
}


table {
    width: 100%;
  }

  td {
    border: 10px solid white;
    padding: 10px;
    background-color: aquamarine;
  }

  .col1 {
    width: 25%;
  }

  .col2 {
    width: 25%;
  }

  .col3 {
    width: 40%;
  }
